.accueil-introduction {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.accueil-contact {
    text-align: center;
}

.accueil-contact h3 {
  margin-bottom: 10px;
}

.formulaire {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn {
    align-self: center;
    padding: 10px 30px
}

input {
    padding: 10px;
}
