.projets {
    display: flex;
    flex-direction: row;
    gap: 10%;
    margin: 50px;
} 

.image1 {
    width: 52%;
}

.image2 {
    width: 95%;
}

.image3 {
    width: 100%;
}



strong {
    font-size: 20px;
}


